# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcbkptlist
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.perspectivev3
*.mode1v3
*.mode2v3
*.pbxuser

# User-specific Xcode data
xcuserdata/
*.xcuserdatad/

# Build products
build/
DerivedData/
DerivedData/**
*.ipa
*.dSYM
*.dSYM.zip
*.dSYM.tar.gz

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Instruments / logs / crash reports
*.trace
*.crash
*.log
